---
layout: layouts/base
title: Insights
permalink: /insights/
eleventyNavigation:
  key: Insights
  order: 2
hero:
  image: /assets/img/hero-insights.jpg
  heading: INSIGHTS
---

<main id="main-content">

  <div class="grid-container">
    <p class="font-body-lg text-semibold">
      We’re keeping up with trending information about the future of federal work, with an eye toward the ways federal agencies manage space and perform hybrid work. Interested in seeing information about a specific topic?
      Let us know by emailing us at <a href="mailto:workplace@gsa.gov">workplace@gsa.gov</a>.</p>


    <div class="grid-container padding-top-205">
      <div class="grid-row grid-gap">
      {% for insight in collections.insights | sort(attribute='data.sortorder') %}
        <div class="tablet:grid-col-4 margin-y-1 padding-bottom-6">
          <div class="flex-column">
             {% if insight.data.externallink %}
               <a class="usa-link text-no-underline" href="{{ insight.data.externallink | url }}" aria-label="link to {{ insight.data.title}}">
            {% else %}
              <a class="usa-link text-no-underline text-black" href="{{ insight.url | url }}" aria-label="link to {{ insight.data.title}}">
            {% endif %}
            <img
            src="{{ insight.data.image.url | url }}"
            alt="{{insight.data.image.alt}}"
            aria-hidden="true"
            />
          </a>
          </div>
          <div class="flex-column font-body-md text-semibold margin-y-1">
            {% if insight.data.externallink %}
               <a class="usa-link text-no-underline" href="{{ insight.data.externallink | url }}">
            {% else %}
              <a class="usa-link text-no-underline" href="{{ insight.url | url }}">
            {% endif %}
              <span class="text-bold text-black">
                {{ insight.data.title | safe}}
              {% if insight.data.externallink %}
                  <svg class="usa-icon alignmiddle" aria-hidden="true" role="img" >
                    <use xlink:href="{{ '/assets/uswds/img/sprite.svg#launch' | url }}"></use>
                  </svg>
              {% endif %}
              </span>
            </a>
          </div>

          <div class="flex-column text-base font-sans-2xs ">
            {{ insight.data.date | postDate }}
            {%- if insight.data.author %}
              | {{ insight.data.author }}
            {%- endif %}
          </div>

        </div>
      {% endfor %}

      </div>

    </div>
  </div>

</main>
