---
layout: layouts/base
title: Insights
permalink: /insights/
eleventyNavigation:
  key: Insights
  order: 2
hero:
  image: assets/img/hero-insights.jpg
  heading: INSIGHTS
---

<main id="main-content">

  <div class="grid-container">
    <p class="font-body-lg text-semibold">
      We’re keeping up with trending information about the future of federal work, with an eye toward the ways federal agencies manage space and perform hybrid work. Interested in seeing information about a specific topic? 
      Let us know by emailing us at <a href="mailto:workplace@gsa.gov">workplace@gsa.gov.</a></p>
    <div class="grid-row grid-gap">
     
    </div>
  </div>

</main>
