---
layout: layouts/page
title: Home
permalink: /
description: Workplace is GSA’s effort to lead and support federal agencies through the return to office and the future of work.
hero:
  image: /assets/img/hero-home.jpg
  original_heading: The future of federal work is coming.
  heading: The future of federal work is here.
  callout: GSA has decades of experience working with agencies to design space to meet evolving mission needs
---

<p class="font-sans-lg text-semibold">
  We’re here to help you develop and implement your workplace and real estate strategies, so you can best serve your people and achieve your mission. We know there isn’t a one-size-fits-all approach for agencies, so we have multiple tools and services to meet you where you are and to customize for your needs.
</p>

<a href="{{ '/offerings/' | url }}" class="usa-button">Explore offerings</a>

<hr>


<div class="wp-insights-heading">
  <h2 class="wp-insights-heading__header">Visit the Workplace Innovation Lab</h2>

  <a href="{{ 'http://reservations.wil.gsa.gov/ ' | url }}" class="usa-button display-none tablet:display-inline-block">Reserve a space</a>
</div>
<p>Our Workplace Innovation Lab in Washington, DC is open to federal employees and teams. Blurb about this…</p>

<hr>

<div class="wp-insights-heading">
  <h2 class="wp-insights-heading__header">Latest insights</h2>

  <a href="{{ '/insights/' | url }}" class="usa-button display-none tablet:display-inline-block">Explore all insights</a>
</div>

<p>Learn more about government workplace trends and best practices in workplace strategy.</p>

<div class="grid-row grid-gap">
  {% for insight in collections.insights | sort(attribute='data.sortorder') | reverse | take(3) %}
    <div class="tablet:grid-col-4 margin-y-3">
      <div class="flex-column">
        {% if insight.data.externallink %}
          <a class="usa-link  text-no-underline" href="{{ insight.data.externallink | url }}" aria-label="link to {{ insight.data.title}}">
        {% else %}
          <a class="usa-link text-no-underline text-black" href="{{ insight.url | url }}" aria-label="link to {{ insight.data.title}}">
        {% endif %}
        <img
        src="{{ insight.data.image.url | url }}"
        alt="{{insight.data.image.alt}}"
        aria-hidden="true"
        class="add-aspect-4x3"
        />
      </a>
      </div>
      <div class="flex-column font-body-md text-semibold margin-y-1">
        {% if insight.data.externallink %}
          <a class="usa-link--external text-no-underline text-black" href="{{ insight.data.externallink | url }}">
        {% else %}
        <a class="usa-link text-no-underline" href="{{ insight.url | url }}">
        {% endif %}
          <span class="text-bold text-black">{{ insight.data.title | safe}}<span>
        </a>
      </div>
      <div class="flex-column text-base font-sans-2xs">
        {{ insight.data.date | postDate }}
        {%- if insight.data.author %}
          | {{ insight.data.author }}
        {%- endif %}
      </div>
    </div>
  {% endfor %}
</div>

<a href="{{ '/insights/' | url }}" class="usa-button tablet:display-none">Explore all insights</a>

<hr>

<h2>Guiding principles</h2>

<p>
  These principles were created by a coalition of 100 participants from 18 federal agencies as a starting point for organizations when considering their workplace strategies. Learn more about <a href="{{ '/about/' | url }}">how we developed these principles</a>.
</p>

<div class="tablet:grid-col-8">

  <div class="display-flex flex-row flex-no-wrap flex-align-start margin-y-3">
    <div>
      <div class="square-8 bg-primary display-flex flex-row flex-align-center flex-justify-center text-white">
        <svg class="usa-icon square-5" aria-hidden="true" role="img">
          <use xlink:href="{{ '/assets/uswds/img/sprite.svg#location_on' | url }}"></use>
        </svg>
      </div>
    </div>
    <div class="margin-left-1">
      <strong>Work can be done anywhere, at any time.</strong><br>
      Real estate will help us maintain and enhance human connections, but
      technology will be the primary force that brings work together.
    </div>
  </div>

  <div class="display-flex grid-row flex-row flex-no-wrap flex-align-start margin-y-3">
    <div>
      <div class="square-8 bg-primary display-flex flex-row flex-align-center flex-justify-center text-white">
        <svg class="usa-icon square-5" aria-hidden="true" role="img">
          <use xlink:href="{{ '/assets/uswds/img/sprite.svg#location_city' | url }}"></use>
        </svg>
      </div>
    </div>
    <div class="flex-column margin-left-1">
      <strong>The office is necessary, but its purpose is shifting.</strong><br>
      Offices will remain critical to collaborate, connect, access secure resources, 
      and host those who can’t or don’t want to work from home.
    </div>
  </div>

  <div class="display-flex grid-row flex-row flex-no-wrap flex-align-start margin-y-3">
    <div>
      <div class="square-8 bg-primary display-flex flex-row flex-align-center flex-justify-center text-white">
        <svg class="usa-icon square-5" aria-hidden="true" role="img">
          <use xlink:href="{{ '/assets/uswds/img/sprite.svg#connect_without_contact' | url }}"></use>
        </svg>
      </div>
    </div>
    <div class="flex-column margin-left-1">
      <strong>Distributed work is trusted work.</strong><br>
      During the pandemic, agencies discovered the positive impacts of
      telework. Employees will want to continue working wherever it best suits
      the task at hand.
    </div>
  </div>

  <div class="display-flex grid-row flex-row flex-no-wrap flex-align-start margin-y-3">
    <div>
      <div class="square-8 bg-primary display-flex flex-row flex-align-center flex-justify-center text-white">
        <svg class="usa-icon square-5" aria-hidden="true" role="img">
          <use xlink:href="{{ '/assets/uswds/img/sprite.svg#work' | url }}"></use>
        </svg>
      </div>
    </div>
    <div class="flex-column margin-left-1">
      <strong>Hybrid work arrangements benefit both the employee and the organization.</strong><br>
      Working from home affords employees scheduling flexibility,
      opportunities to improve a work-life balance, and cost and time savings
      from commuting.
    </div>

  </div>
</div>
