---
layout: layouts/base
title: Offerings
description: GSA has created workplace offerings that help agencies meet their missions, including the Workplace Innovation Lab, workplace engagement services, commercial coworking spaces, and workplace modeling tools.
permalink: /offerings/
eleventyNavigation:
  key: Offerings
  order: 1
hero:
  image: /assets/img/hero-offerings.jpg
  heading: OFFERINGS
---

<main id="main-content" style="padding-bottom: 0">

  <div class="grid-container">
    <p class="font-body-lg text-semibold">
      GSA is working to create human-centered, sustainable, flexible, and tech-enabled workspaces that provide great value for taxpayers and empower federal agencies to meet their missions better than ever before. Our offerings bring new tools and services to you.
    </p>
    <div class="grid-row grid-gap">
      {% for offering in collections.offerings | sort(attribute='data.sortorder') %}
        <div class="tablet:grid-col-6">
          <div class="border-top border-base-light">
            <h2 class="font-heading-lg">
              {% if offering.data.urlOverride %}
                <a class="usa-link text-no-underline" href="{{ offering.data.urlOverride | url }}">{{ offering.data.tagline }}</a>
              {% elseif offering.url %}
                <a class="usa-link text-no-underline" href="{{ offering.url | url }}">{{ offering.data.tagline }}</a>
              {% else %}
                {{ offering.data.tagline }}
              {% endif %}
            </h2>
            <p>
              {{ offering.data.description }}
            </p>
            <p>
              {% if offering.data.urlOverride %}
                <div><a class="usa-link text-no-underline" href="{{ offering.data.urlOverride | url }}">{{ offering.data.listLinkText }} ➔</a></div>
              {% elseif offering.url %}
                <div><a class="usa-link text-no-underline" href="{{ offering.url | url }}">{{ offering.data.listLinkText }} ➔</a></div>
              {% else %}
                <div>{{ offering.data.listLinkText }}</div>
              {% endif %}
              {% if offering.data.extralinks %}
                <a class="usa-link text-no-underline" href="{{ offering.data.extralinks.link_url| url }}">{{ offering.data.extralinks.link_text }} ➔</a><br/>
              {% endif %}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="padding-top-8">
    {% feature
      "Wondering about the latest workplace trends and analysis?",
      "Explore insights",
      "/insights/",
      "/assets/img/offerings-feature.jpg"
    %}
  </div>
</main>
