---
layout: layouts/base
breadcrumb:
  parent:
    text: Insights
    href: /insights/
---

  <div class="grid-container  wp-post desktop:grid-col-5">
    <div class="usa-in-page-nav-container">
      <main id="main-content">
        <div class="usa-prose">
          <h1>{{title | safe }}</h1>
          {%- if subtitle -%}
          <h2 class="text-base-darker" style="margin-top:0.5rem;"> {{ subtitle |safe}}</h2>
          {%- endif -%}
            <span class="text-semibold font-sans-2xs">
            {%- if author -%}
            By {{ author}}
            {%- endif -%}
            {%- if position  -%}
            , {{position}}
            {%- endif -%}
            </span>
            <div class="text-base">
              <div class="margin-y-1 font-sans-3xs">
                {{ date | postDate }}
              </div>
            </div>

            <img
              src="{{image.url | url}}"
              aria-hidden="true"
              class="maxh-mobile-lg"
              alt="{{image.alt}}"
              style="object-fit: contain;"
            />
            {{ content | safe }}
      <div>
      </main>
    </div>
   
</div>


