---
layout: layouts/base
breadcrumb:
  parent:
    text: Insights
    href: /insights/
---

<div class="grid-container">

    <main id="main-content">
      <div class="usa-prose">
      <h1 class="title">{{title | safe }}</h1>
      {%- if subtitle -%}
       <h2 class="text-base-darker"> {{ subtitle |safe}}</h2>
       {%- endif -%}
        <span class="text-semibold font-serif-2xs">
        {%- if author -%}
        By {{ author}}
        {%- endif -%}
        {%- if position  -%}
        , {{position}}
        {%- endif -%}
        </span>
        <div class="text-base">
          <div class="margin-y-1 font-sans-3xs">
             {{ date | postDate }}
          </div>
        </div>

      <img
          src="{{image.url | url}}"
          aria-hidden="true"
          class="width-mobile-lg"
          alt="{{image.alt}}"
        />

    
        {{ content | safe }}
      </div>
    </main>

</div>
